* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  transition: 0.5s; }

:root {
  --gradient-color: linear-gradient(#7787c5dc, #636FA4);
  --blue-color: #636FA4;
  --dark-blue-color: #4d536e;
  --rose-color: #E8CBC0;
  --background-color: #acbdce3f;
  --box-shadow: 0px 0px 3px var(--blue-color);
  --hover-shadow: 0px 0px 8px #4d536e;
  --boder-radius: 5px; }

body {
  width: 1263px;
  margin: 0 auto;
  background: var(--background-color); }

button,
input {
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  font-weight: 500; }

button,
a {
  cursor: pointer;
  font-size: 18px; }

input {
  padding: 5px 10px; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

a {
  color: black;
  text-decoration: none; }

i {
  color: var(--dark-blue-color); }

.border {
  box-shadow: var(--box-shadow);
  border-radius: var(--boder-radius);
  overflow: hidden; }

.container {
  margin: 20px 60px; }

.middle {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.tooltip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 18px;
  font-weight: 500;
  opacity: 0;
  color: white;
  overflow: unset; }

.tooltip::before,
.categories::before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg); }

.left-btn, .right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3; }
  .left-btn i, .right-btn i {
    font-size: 40px; }
  .left-btn:hover i, .right-btn:hover i {
    color: var(--rose-color); }

.left-btn {
  left: 0; }

.right-btn {
  right: 0; }

.slick-dots {
  position: absolute;
  bottom: 0; }

.header {
  flex-direction: column;
  background: white;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 9; }
  .header-above {
    width: 100%;
    padding: 10px 60px;
    justify-content: left; }
    .header-above-logo {
      width: 270px;
      justify-content: left; }
    .header-above-search {
      background: white;
      margin-left: 10px;
      width: 460px; }
      .header-above-search input {
        width: 100%; }
      .header-above-search button {
        background: var(--rose-color);
        box-shadow: var(--box-shadow);
        padding: 10px 15px; }
      .header-above-search button:hover {
        background: var(--blue-color);
        box-shadow: var(--hover-shadow); }
        .header-above-search button:hover i {
          color: white; }
    .header-above-link {
      margin: 0 auto;
      margin-right: 0;
      grid-gap: 20px; }
      .header-above-link a {
        font-size: 16px; }
      .header-above-link-item {
        grid-gap: 10px; }
        .header-above-link-item i {
          font-size: 18px; }
        .header-above-link-item .number {
          width: fit-content;
          padding: 3px 10px;
          background: red;
          border-radius: 50%;
          color: white; }
      .header-above-link .account-link {
        align-items: flex-start;
        flex-direction: column; }
        .header-above-link .account-link a {
          margin-left: 5px; }
        .header-above-link .account-link a:hover {
          transform: scale(1.2); }
      .header-above-link-item:hover i {
        transform: scale(1.5);
        color: var(--blue-color); }
  .header-nav {
    background: var(--gradient-color);
    width: 100%;
    padding: 0 60px;
    justify-content: left;
    grid-gap: 10px;
    position: relative; }
    .header-nav-dropdown {
      width: 270px;
      background: var(--rose-color);
      box-shadow: var(--box-shadow);
      padding: 10px;
      font-size: 18px; }
    .header-nav-dropdown i:hover {
      transform: rotateZ(90deg); }
    .header-nav .dropdown-category {
      position: absolute;
      top: 100%;
      width: 271px;
      opacity: 0;
      visibility: hidden;
      animation: animation1 0.5s; }
    .header-nav .show {
      opacity: 1;
      visibility: visible;
      border-right: 1px solid var(--blue-color);
      border-left: 1px solid var(--blue-color);
      border-bottom: 1px solid var(--blue-color);
      animation: animation 0.5s; }

@keyframes animation {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

@keyframes animation1 {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%); } }
    .header-nav-link {
      height: 100%; }
      .header-nav-link a {
        color: white;
        margin-right: 20px;
        padding: 7px 0; }
      .header-nav-link a:hover {
        border-bottom: 3px solid var(--rose-color); }
      .header-nav-link i {
        margin-left: 5px; }

.footer {
  background: white;
  text-align: left; }
  .footer-signup {
    background: var(--gradient-color);
    color: white;
    padding: 30px 0; }
    .footer-signup h4 {
      grid-gap: 10px; }
      .footer-signup h4 i {
        color: white;
        font-size: 40px; }
      .footer-signup h4 div p:last-child {
        font-size: 15px;
        font-weight: 200; }
    .footer-signup-input {
      width: 550px;
      background: white;
      box-shadow: 0 0 3px white; }
      .footer-signup-input input {
        width: 100%; }
      .footer-signup-input button {
        background: var(--rose-color);
        box-shadow: var(--box-shadow);
        color: var(--dark-blue-color);
        padding: 10px 15px; }
      .footer-signup-input button:hover {
        background: var(--dark-blue-color);
        color: white;
        box-shadow: var(--hover-shadow); }
    .footer-signup-icon {
      grid-gap: 30px; }
      .footer-signup-icon .icon {
        background: var(--rose-color);
        border-radius: 50%;
        padding: 5px 8px;
        position: relative; }
        .footer-signup-icon .icon .tooltip {
          top: -60px; }
        .footer-signup-icon .icon .tooltip::before {
          bottom: -6px; }
      .footer-signup-icon .icon:hover .tooltip,
      .footer-signup-icon .icon:hover i {
        opacity: 1;
        color: white; }
      .footer-signup-icon .face:hover,
      .footer-signup-icon .face .tooltip::before,
      .footer-signup-icon .face .tooltip {
        background: #0b84f0; }
      .footer-signup-icon .ins:hover,
      .footer-signup-icon .ins .tooltip::before,
      .footer-signup-icon .ins .tooltip {
        background: #e60a75; }
      .footer-signup-icon .tiktok:hover,
      .footer-signup-icon .tiktok .tooltip::before,
      .footer-signup-icon .tiktok .tooltip {
        background: black; }
      .footer-signup-icon .ytb:hover,
      .footer-signup-icon .ytb .tooltip::before,
      .footer-signup-icon .ytb .tooltip {
        background: #fc0404; }
  .footer .middle {
    margin: 0 auto; }
  .footer-link {
    padding: 30px 0;
    width: fit-content; }
    .footer-link-item {
      margin-right: 90px; }
      .footer-link-item h4 {
        margin: 20px 0; }
      .footer-link-item a {
        display: block;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 14px; }
      .footer-link-item-logo {
        width: 360px; }
      .footer-link-item-address {
        width: 350px;
        margin: 10px 0 0 25px;
        font-size: 14px; }

.card-detail {
  text-align: center;
  background: white;
  position: relative;
  height: 285px;
  width: 210px;
  margin: 10px; }
  .card-detail-img img {
    height: 210px; }
  .card-detail-sale {
    position: absolute;
    top: 3px;
    right: 3px;
    background: red;
    border-radius: 10px;
    padding: 10px 5px;
    color: white;
    font-weight: 300; }
  .card-detail-info {
    padding: 5px; }
    .card-detail-info-name {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; }
    .card-detail-info-price {
      position: absolute;
      width: 96%;
      bottom: 3px; }
      .card-detail-info-price .old {
        font-size: 14px; }
      .card-detail-info-price .new {
        color: red;
        font-weight: bold; }
  .card-detail-link {
    justify-content: center;
    grid-gap: 15px;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    opacity: 0; }
    .card-detail-link a {
      background: var(--gradient-color);
      box-shadow: var(--hover-shadow);
      padding: 5px 10px; }
      .card-detail-link a i {
        color: white; }

@keyframes zoom {
  from {
    transform: scale(1.1);
    background: var(--background-color); }
  to {
    transform: scale(1.3);
    background: white; } }

.card-detail:hover {
  box-shadow: var(--hover-shadow); }
  .card-detail:hover .card-detail-link {
    opacity: 1; }
    .card-detail:hover .card-detail-link a:hover {
      background: white;
      animation: zoom 1s infinite; }
      .card-detail:hover .card-detail-link a:hover i {
        color: red; }

.banner-img {
  width: 100%;
  height: 100%; }

.list-category {
  background: white;
  box-shadow: var(--box-shadow); }
  .list-category a {
    padding: 5px 10px;
    justify-content: left;
    font-size: 16px;
    font-weight: 300;
    transition: 0.1s; }
    .list-category a img {
      width: 25px;
      height: 25px;
      margin-right: 10px; }
  .list-category a:hover {
    box-shadow: var(--box-shadow);
    font-weight: 700; }

.category-banner-section {
  display: grid;
  grid-template-columns: 270px 863px;
  height: 285px;
  position: relative; }
  .category-banner-section .categories {
    overflow-y: scroll; }
  .category-banner-section .categories::-webkit-scrollbar {
    display: none; }
  .category-banner-section .categories::before {
    background: white;
    border-left: 0.5px solid var(--blue-color);
    border-top: 0.5px solid var(--blue-color);
    left: 5%;
    top: -8px; }
  .category-banner-section .banner-slider {
    position: relative;
    margin-left: 10px;
    width: 100%;
    height: 100%; }

.feature {
  background: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--boder-radius); }
  .feature-item {
    padding: 10px 0;
    grid-gap: 10px;
    width: 100%;
    justify-content: center;
    position: relative; }
    .feature-item-icon {
      font-size: 22px; }
    .feature-item .tooltip {
      bottom: -80px;
      width: 100%; }
    .feature-item .tooltip::before {
      top: -8px; }
  .feature-item:hover .tooltip, .feature-item:hover {
    opacity: 1;
    box-shadow: var(--hover-shadow); }
  .feature-item:hover .tooltip,
  .feature-item:hover .tooltip::before {
    background: var(--blue-color); }

.product-section {
  background: white;
  padding: 25px 5px; }
  .product-section h1 {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 20px;
    padding: 5px 0;
    border-bottom: 3px solid var(--blue-color); }

.list-product-section {
  display: grid;
  grid-template-columns: 270px auto;
  height: fit-content; }
  .list-product-section .section-category {
    height: fit-content; }
    .list-product-section .section-category h3 {
      padding: 10px;
      background: var(--dark-blue-color);
      color: white; }
  .list-product-section .section-product {
    cursor: pointer; }
    .list-product-section .section-product .sort-by {
      flex-direction: column;
      align-items: flex-end;
      padding-right: 10px;
      position: relative; }
      .list-product-section .section-product .sort-by-select {
        background: var(--dark-blue-color);
        grid-gap: 113px;
        padding: 5px 10px; }
        .list-product-section .section-product .sort-by-select h3,
        .list-product-section .section-product .sort-by-select i {
          color: white; }
      .list-product-section .section-product .sort-by-option {
        position: absolute;
        top: 103%;
        z-index: 1; }
        .list-product-section .section-product .sort-by-option-item {
          padding: 5px 106px 5px 10px;
          background: white;
          line-height: 30px;
          opacity: 0;
          visibility: hidden;
          animation: topbottom1 0.5s ease forwards; }
        .list-product-section .section-product .sort-by-option-item div:hover {
          transform: scale(1.1);
          font-weight: 500;
          color: var(--dark-blue-color); }
        .list-product-section .section-product .sort-by-option .show {
          opacity: 1;
          visibility: visible;
          display: block;
          animation: topbottom 0.5s ease forwards; }

@keyframes topbottom {
  0% {
    transform: translateY(-30%); }
  100% {
    transform: translateY(0%); } }

@keyframes topbottom1 {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-30%); } }
    .list-product-section .section-product .products {
      background: transparent;
      box-shadow: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr); }
    .list-product-section .section-product-page {
      justify-content: flex-end;
      padding-right: 10px;
      grid-gap: 20px;
      font-weight: 700;
      margin: 10px 0 30px 0; }
      .list-product-section .section-product-page a {
        background: white;
        padding: 5px 15px; }
      .list-product-section .section-product-page a:first-child {
        background: var(--dark-blue-color);
        color: white; }
