// DANH MỤC SP + SLIDER BANNER
.category-banner-section {
    display: grid;
    grid-template-columns: 270px 870px;
    height: 285px;
    position: relative;
    .category-list {
        background: white;
        box-shadow: var(--box-shadow);
        overflow-y: scroll;
    }
    .category-list::-webkit-scrollbar {
        display: none;
    }
    .category-list::before{
        background: white;
        border-left: 0.5px solid var(--blue-color);
        border-top: 0.5px solid var(--blue-color);
        left: 5%;
        top: -8px;
    }
}

//FEATURE
.feature {
    background: white;
    box-shadow: var(--box-shadow);
    border-radius: var(--boder-radius);
    &-item {
        padding: 10px 0;
        grid-gap: 10px;
        width: 100%;
        justify-content: center;
        position: relative;
        &-icon {
            font-size: 22px;
        }
        .tooltip {
            bottom: -80px;
            width: 100%;
        }
        .tooltip::before{
            top: -8px;
        }
    }
    &-item:hover .tooltip,
    &-item:hover {
        opacity: 1;
        box-shadow: var(--hover-shadow);
    }
    &-item:hover .tooltip,
    &-item:hover .tooltip::before {
        background: var(--blue-color);
    }
}

// SLIDER DANH SÁCH CÁC SẢN PHẨM
.product-section {
    text-align: center;
    background: white;
    padding: 25px 20px;
    h1{
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 20px;
        padding: 5px 0;
        border-bottom: 3px solid var(--blue-color);
    }
}
